body, html {
    height: 100%;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header-image {
    flex-grow: 1;
    background-color: aqua;
    background-image: url('../sky.jpg');
}

.main {
    display: flex;
    flex-direction: row;
    flex-grow: 4.7;
    background-color: blanchedalmond;
}

.main-text {
    flex-grow: 1.2;
    background-color: rgb(147, 30, 215);

    position: relative;
}

.main-image {
    flex-grow: 4.8;
    background-image: url('../forest.jpg');
}

.footer-text {
    flex-grow: 1;
    background-color: rgb(238, 255, 0);

    position: relative;
}

.center-text {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.image-position {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

div {
    font-weight: bold;
    font-size: 30px;
}